/* Esta es la estilizacion basica del css para la pagina, asi o con plastilina?*/
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Nunito:wght@200;300&family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');
/*fuente base del tipo de letra que utilizara la pagina, solo que esta importada si es que no sabes :)*/

/*Inicio de CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#inicio .contenido header {
    background-color: black;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: gold;
}